{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page - Encyclopedia
{% endblock %}

{% block body %}
    {% if messages %}
        <ul class="messages" >
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Create a new page:</h1>

    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        {{  new_entry_form }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}