{% extends "encyclopedia/layout.html" %}

{% block title %}
New Page - Encyclopedia
{% endblock %}

{% block body %}


<form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    {% if messages %}
        <div class="grid-container-m">
    {% else %}
        <div class="grid-container">
    {% endif %}
            <div class="grid-item1">
                <h1>Create a new page</h1>
            </div>

            <div class="grid-item2">
                {{ new_entry_form.title }}
                {% if messages %}
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
                {% endif %}
            </div>


            <div class="grid-item3">
                <input type="submit" value="Submit">
            </div>

            <div class="grid-item4">
                {{ new_entry_form.content }}
            </div>
        </div>
</form>
{% endblock %}